name: Release Website

on: workflow_dispatch

permissions:
  id-token: write
  contents: read 

jobs:
  Deploy-Website:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Assume Role
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: eu-west-2
          role-to-assume: arn:aws:iam::905418442662:role/github-aomit-website-deployment-role
      - name: Deploy Gatsby to AWS S3              
        run: |
          /usr/local/bin/aws s3 sync ./public/ s3://aomit.co.uk --delete
          aws cloudfront create-invalidation --distribution-id E2HNVK23N1CMFK --paths "/*";
          aws cloudfront create-invalidation --distribution-id E1E86K3KENGQBG --paths "/*";


      

